.chart-container {
  background: #FFF;
  border-radius: 10px;
  padding: 16px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px
}

.chart-container2 {
  float: left;
  background: #FFF;
  border-radius: 10px;
  padding: 16px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px;
  margin-right: 20px;
  text-align: center;
  
}

.chart-container3 {
  float: left;
  
  background: #FFF;
  border-radius: 10px;
  padding: 16px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  global.aicounter+=1

}




.buttons {
  background-color: #f44336;
  /* Green */
  border: none;
  color: white;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;

}

.buttons:hover {
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.pod {
  background: #FFF;
  border-radius: 10px;
  padding: 16px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.08);
  margin-bottom: 24px
}
body {
  background-color: #f2f2f2;
}

.chart {
  margin-left: 200px
  
}